body,html {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: aliceblue;
}
/* CANVAS */
#canvas{ 
    position: relative;
    width: 1500px;
    min-width: 1500px;
    height: 720px;
    min-height: 720px;
    margin: auto 0px;
    background-color: honeydew;
    background-image: url(../assets/img/roadNew.jpg);
    background-size: cover;
    background-position-y: 0px;
    overflow: hidden;
    border-radius: 10px;
}
#stopwatch {
    position: absolute;
    right: 40px;
    bottom: 670px;
    color: white;
}
#gameover {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    /* background-color: grey; */
    opacity: 0%;
    /* display: flex;
    position: fixed;
    background-color: blue;
    width: 100%;
    height: 100%;
    z-index: 1; */
    z-index: 1;
}
#imgGameover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    /* background-image: url(/assets/img/gameover.png);
    background-size: cover;
    width: 400px;
    height: 400px;
    margin: auto auto; */
}
/* ROAD */
#road {
    position: relative;
    width: 443.36px;
    height: 100%;
    margin-left: 556px;
    /* background-color: slategray; */
    overflow: hidden;
}
#car {
    position: absolute;
    margin: auto auto;
    /* background-color: salmon; */
    background-image: url(../assets/img/Taxi.gif);
    background-size: cover;
}
.policeCar {
    position: absolute;
    background-color: blue;
}
.motorbike {
    position: absolute;
    background-color: green;
}
.truck {
    position: absolute;
    background-color: yellow;
}
.normalCar1 {
    position: absolute;
    background-color: azure;
}
.normalCar2 {
    position: absolute;
    background-color: aquamarine;
}
.normalCar3 {
    position: absolute;
    background-color: antiquewhite;
}
.normalCar4 {
    position: absolute;
    background-color: brown;
}
.caravana {
    position: absolute;
    background-color: blueviolet;
}
.obstacle {
    position: absolute;
    background-color: chocolate;
}