body,html {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: aliceblue;
}
/* CANVAS */
#canvas{ 
    position: relative;
    display: flex;
    width: 1500px;
    min-width: 1500px;
    height: 720px;
    min-height: 720px;
    margin: auto 0px;
    background-color: honeydew;
    background-image: url(../assets/img/roadNew.jpg);
    background-size: cover;
    background-position-y: 0px;
    overflow: hidden;
    border-radius: 10px;
}
#stopwatch {
    position: absolute;
    right: 40px;
    bottom: 670px;
    color: white;
}
/* ROAD */
#road {
    position: relative;
    width: 443.36px;
    height: 100%;
    margin-left: 556px;
    /* background-color: slategray; */
}
#car {
    position: absolute;
    margin: auto auto;
    /* background-color: salmon; */
    background-image: url(../assets/img/Taxi.gif);
    background-size: cover;
}
.obstacle {
    position: absolute;
    background-color: orange;
}
