body,html {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: aliceblue;
}
/* CANVAS */
#canvas{ 
    position: relative;
    width: 1500px;
    min-width: 1500px;
    height: 720px;
    min-height: 720px;
    margin: auto 0px;
    background-color: honeydew;
    background-image: url(../assets/img/roadNew2.jpg);
    background-size: cover;
    background-position-y: 0px;
    overflow: hidden;
    border-radius: 10px;
    object-fit: contain;
}
#gameOver, #youWin, #startScreen, #gameOn{
    position: absolute;
    display:inline-block;
    align-content: center;
    width: 100%;
    height: 100%;
    /* background-color: grey; */
}
#gameOn{
    background-color: black;
    z-index: 500;
}
#onBtn{
    position: relative;
    background: url(../assets/img/RebootLogo.jpeg);
    width: 150px;
    height: 150px;
    background-size: cover;
    border-width: 0px;
    top: 40%;
    left: 45%;
}
#startScreen{
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 400;
    opacity: 1;
}
#startScreen img{
    position: relative;
    display: block;
    margin: 150px auto;
}
#instructions{
    width: 500px;
    margin: 0 auto;
    margin-top: -100px;
    line-height: 40px;
    background-color: hsla(100, 0, 55, 0.5);
}
#startScreen p{
    text-align: center;
    color: white;
    text-shadow: 3px gray;
    font-size: 20px;
    background-color: hsla(100, 0, 55, 0.5);
}
#startScreen>.btnContainer{
    height: 100px;
}
#startBtn{
    width: 150px;
    border-radius: 20%;
    background-color: rgba(1,26,35,0.85);
    font-size: 20px;
    font-weight: bold;
    color: hsla(178, 49%, 38%, 1);
    border: 5px solid  hsla(178, 49%, 38%, 1);
}
#gameOver{
    display: none;
    z-index: 300;
    background-color: rgba(1,26,35,0.65);
    /* opacity: 100%; change when it's ready */
}
#gameOver img {
    position: relative;
    /* border: 2px solid red; */
    display: block;
    margin: 0 auto -100px auto;
    width: 40%;
    top: -100px;
}
.btnContainer{
    /* border: 3px solid green; */
    display: flex;
    justify-content: center;
    top: -100px;
}
#gameOver button{
    align-content: center;
    text-align: center;
    width: 250px;
    border-radius: 20%;
    background-color: rgba(1,26,35,0.85);
    font-size: 20px;
    font-weight: bold;
    color: hsla(178, 49%, 38%, 1);
    border: 5px solid  hsla(178, 49%, 38%, 1);
    padding: 15px;
    margin-top: 20px;
}
#youWin{
    /* border: 2px solid blue; */
    z-index: 200;
    display: none;
    background-color: rgba(1,26,35,0.65);
}
#youWin img{
    position: relative;
    /* border: 2px solid red; */
    display: block;
    margin: 0 auto;
    width: 30%;
}
#youWin button{
    align-content: center;
    text-align: center;
    width: 250px;
    border-radius: 20%;
    background-color: rgba(1,26,35,0.85);
    font-size: 20px;
    font-weight: bold;
    color: hsla(178, 49%, 38%, 1);
    border: 5px solid  hsla(178, 49%, 38%, 1);
    padding: 15px;
    margin-top: 20px;
}
#passengercall {
    display: none;
    position: absolute;
    width: 40px;
    height: 80px;
    bottom: 75px;
    left: 1105px;
    background-image: url(../assets/img/charactercall.gif);
}
#passenger {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 75px;
    background-image: url(../assets/img/characterleft1.gif);
}
#HUD {
    position: absolute;
    display: flex;
    justify-content: space-between;
    background-color: rgba(1,26,35,0.85);
    right: 10px;
    bottom: 640px;
    font-size: 20px;
    width: 480px;
    color: white;
    border: 5px solid  hsla(178, 49%, 38%, 1);
    border-radius: 10%;
}
#HUD div {
    margin: auto auto;
    padding: 20px;
}
/* ROAD */
#road {
    position: relative;
    width: 443.36px;
    height: 100%;
    margin-left: 556px;
    overflow: hidden;
    /* background-color: slategray; */
}
#car {
    position: absolute;
    margin: auto auto;
    background-image: url(../assets/img/Taxi.gif);
    background-size: cover;
    /* background-color: salmon; */
}
#finishline {
    position: absolute;
    display: block;
    width: 430px;
    height: 50px;
    bottom: 720px;
    margin: auto auto;
    background-image: url(../assets/img/finishLine.gif);
    background-size: cover;
    /* background-color: aquamarine; */
}
/*OBSTACLES*/
.policeCar {
    position: absolute;
    background-image: url(../assets/img/CochePolicia.gif);
    background-size: cover;
}
.motorbike {
    position: absolute;
    background-image: url(../assets/img/moto.gif);
    background-size: cover;
}
.truck {
    position: absolute;
    background-image: url(../assets/img/Camion.gif);
    background-size: cover;
}
.normalCar1 {
    position: absolute;
    background-image: url(../assets/img/cochenormal1.gif);
    background-size: cover;
}
.normalCar2 {
    position: absolute;
    background-image: url(../assets/img/cochenormal2.gif);
    background-size: cover;
}
.normalCar3 {
    position: absolute;
    background-image: url(../assets/img/cochenormal3.gif);
    background-size: cover;
}
.normalCar4 {
    position: absolute;
    background-image: url(../assets/img/cochenormal4.gif);
    background-size: cover;
}
.caravana {
    position: absolute;
    background-image: url(../assets/img/caravana.gif);
    background-size: cover;
}
.obstacle {
    position: absolute;
    background-image: url(../assets/img/obstaculo.gif);
    background-size: cover;
}